@import 'scssHelpers.scss';

$mainButtonColor: #ad3d12;

html {
  background: #f5eccd;
  color: #2c3e50;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif, Avenir, Helvetica, Arial;
}

#app, #app textarea {
  font-size: 16px;
}

#app textarea {
  font-family: Verdana, Geneva, sans-serif, Avenir, Helvetica, Arial;
  background-color: #f9e7d4;
}

a {
  text-decoration: none;
}

.change-wrapper {
  background: #f5cb69;
}

html, body {
  height: 100%;
  margin: 0;
}

.whole-content {
  width: 94vw;
  margin: auto;
  max-width: 900px;
}

header {
  background: #cc5e1b;
  width: 100%;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}

.adder-button-wrapper {
  background: $mainButtonColor;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;

  text-align: center;
  color: white;
  font-size: 20px;

  padding: 10px;

  z-index: 10;
}

.add-new-text-block {
  background: red;
  @include makeParamGrowingFromMinTosMax(height, 40, 100);
  @include makeParamGrowingFromMinTosMax(margin-top, -40, -100);
  @include makeParamGrowingFromMinTosMax(width, 120, 300);
  opacity: 0.5;
  position: absolute;
  z-index: 4;
}

.add-new-includer {
  z-index: 5;
}

.todo-short-wrapper {
  margin-top: 33px;
  padding: 13px;
  background: #f5cb69;
  border-radius: 2px;
}

.todo-short-top-part {
  @include togglePropertyUnderAndAboveMediumScreen(width, 95%, 90%);
  background: #fbb000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.todo-short-top-part:after {
  width: 100px;
  height: 100px;
  background: blue;
}

.todo-full-part-wrapper, .todo-short-part-wrapper {
  display: flex;
  background: #ffdc8b;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}

.expand-shrink-text {
  margin-top: 10px;
  color: #75340c;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.todo-full-part-wrapper {
  justify-content: space-between;
}

.todo-bottom-left-part {
  @include togglePropertyUnderAndAboveMediumScreen(width, calc(100% - 100px), 77%);
  @include togglePropertyUnderAndAboveMediumScreen(margin-left, 2px, 10px);
}

.todo-short-part-wrapper {
  margin-left: 10px;
  width: 77%;
  @include togglePropertyUnderAndAboveMediumScreen(width, 95%, 77%);
  @include togglePropertyUnderAndAboveMediumScreen(margin-left, 2px, 10px);
  background: #ffdc8b;
  overflow: hidden;
}

.part-data-name-and-checkbox {
  display: flex;
  word-wrap: break-word;
}

.todo-top-part-text, .part-data-name-and-checkbox {
  width: calc(100% - 100px);
}

.vert-centered-outer {
  display: table;
  height: 100%;
}

.vert-centered-inner {
  vertical-align: middle;
  display: table-cell;
}

.name-changer-textarea-wrapper {
  width: 95%;
}

.name-changer-textarea-wrapper .changer-textarea, .todo-top-part-text {
  @include makeParamGrowingFromMinTosMax(font-size, 18, 26, false, false, true) ;
}

.adder-button-wrapper .vert-centered-outer {
  width: 100%;
}

.top-short-changer {
  display: inline-block;
  margin-right: 15px;
}

.todo-short-top-main-icons {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
}

.part-data-name-and-expander {
  margin-left: 10px;
  overflow: auto;
}

.todo-short-top-main-icons, .todo-short-top-main-icons a {
  color: #211f1f;
}

.rel-parent {
  position: relative;
}

.top-short-deleter, .top-short-changer {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;

}

.top-short-icon {
  width: 18px;
  height: 18px;
}

.adder-button-wrapper {
  cursor: pointer;
}

.changer-textarea {
  height: 90%;
  width: 100%;
}

.text-or-textarea-part {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

.changer-textarea-wrapper, .simple-text {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.todo-item-text {
  width: 100%;
}

.simple-text, .todo-top-part-text, .todo-short-part-wrapper {
  word-wrap: break-word;
}

.textarea {
  border: 0 none white !important;
}

.todo-text-edit-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  margin-top: 5px;

}

.text-editing-bottom-part {
  display: flex;
  margin-top: 5px;
}

.cancel-item-editing {
  margin-left: 10px;
}

.todo-text-edit-button {
  padding: 4px 10px;
  color: #ffe8dd;
  background: $mainButtonColor;
  cursor: pointer;
}

.top-name-changer, .top-todolist-deleter {
  display: flex;
  text-decoration: underline;
  cursor: pointer;

  span {
    margin-left: 2px;
  }
}

.top-short-icon, .top-name-changer, .top-todolist-deleter {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.todo-full-part-wrapper .top-short-icon {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}


.top-todolist-deleter {
  margin-top: 3px;
}

.list-save-cancel-delete-buttons {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;

  max-width: 600px;
  justify-content: space-between;

  .default-button {
    padding: 6px 12px;
  }

  &.bottom-buttons {
    margin-top: 40px;
    padding: 0;
  }
}

.new-item-adder {
  textarea {
    width: 50%;
  }

  .default-button {
    width: 100px;
  }
}

.default-button, .dg-btn {
  background: $mainButtonColor;
  color: #ffe8dd;
  cursor: pointer;
  user-select: none;
  text-align: center;

  &:hover {
    background: #7b2606;
  }
}

.dg-btn--ok {
  border-color: black;
}

.dg-main-content {
  background: #ffb160;
}

.dg-content-body {
  border-color: #7d4019;
}

.dg-content {
  font-size: 23px;
  font-family: Helvetica, Arial, sans-serif;
}

.blocked {
  .text-save-button {
    background: #776861;
  }
}

.change-header {
  font-size: 23px;
  padding: 10px;
}

.new-item-adder {
  margin-top: 20px;

  textarea {
    width: 80%;
  }

  .default-button {
    margin-top: 3px;
    padding: 6px 12px;
  }
}

.new-items-adding-info {
  margin-top: 10px;
}

.characters-left-message {
  margin-left: 20px;
}

.undo-redo-buttons {
  position: sticky;
  $undoSquareSizePx: 50px;
  top: $undoSquareSizePx;
  align-self: flex-start;
  margin-left: 14px;
  margin-top: 14px;

  .undo-button, .redo-button {
    margin-top: 4px;
    width: $undoSquareSizePx;
    height: $undoSquareSizePx;
    line-height: $undoSquareSizePx;
    border-radius: $undoSquareSizePx;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  .redo-button {
    margin-top: $undoSquareSizePx;
  }

  .blocked {
    opacity: 0.2;

    &:hover {
      opacity: 0.2;
    }
  }
}


.todo-change-page-bottom-part {
  display: flex;
}

.undo-text-edition, .redo-text-edition {

  width: 20px;
  height: 20px;
  cursor: pointer;

  &.blocked {
    opacity: 0.3;
  }
}

.redo-text-edition {
  margin-left: 20px;
  transform: scale(-1, 1);
}