html, body {
  height: 100%;
  margin: 0px; }

.adder-button-wrapper {
  background: #13bb13;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
  z-index: 10; }
  @media screen and (max-width: 400px) {
    .adder-button-wrapper {
      height: 40px; } }
  @media screen and (min-width: 400px) and (max-width: 1200px) {
    .adder-button-wrapper {
      height: calc(10px + 7.5vw); } }
  @media screen and (min-width: 1200px) {
    .adder-button-wrapper {
      height: 100px; } }
  @media screen and (max-width: 400px) {
    .adder-button-wrapper {
      width: 120px; } }
  @media screen and (min-width: 400px) and (max-width: 1200px) {
    .adder-button-wrapper {
      width: calc(30px + 22.5vw); } }
  @media screen and (min-width: 1200px) {
    .adder-button-wrapper {
      width: 300px; } }

.add-new-text-block {
  background: red;
  opacity: 0.5;
  position: absolute;
  z-index: 4; }
  @media screen and (max-width: 400px) {
    .add-new-text-block {
      height: 40px; } }
  @media screen and (min-width: 400px) and (max-width: 1200px) {
    .add-new-text-block {
      height: calc(10px + 7.5vw); } }
  @media screen and (min-width: 1200px) {
    .add-new-text-block {
      height: 100px; } }
  @media screen and (max-width: 400px) {
    .add-new-text-block {
      margin-top: -40px; } }
  @media screen and (min-width: 400px) and (max-width: 1200px) {
    .add-new-text-block {
      margin-top: calc(-10px + -7.5vw); } }
  @media screen and (min-width: 1200px) {
    .add-new-text-block {
      margin-top: -100px; } }
  @media screen and (max-width: 400px) {
    .add-new-text-block {
      width: 120px; } }
  @media screen and (min-width: 400px) and (max-width: 1200px) {
    .add-new-text-block {
      width: calc(30px + 22.5vw); } }
  @media screen and (min-width: 1200px) {
    .add-new-text-block {
      width: 300px; } }

.add-new-includer {
  z-index: 5; }

.todo-short-wrapper {
  margin-top: 20px;
  padding: 10px;
  background: #ffffff1c;
  width: 80%;
  border-radius: 10px; }

.todo-short-top-part {
  background: #f5cb69;
  height: 40px;
  width: 90%;
  padding-left: 20px; }

.todo-short-top-part:after {
  width: 100px;
  height: 100px;
  background: blue; }

.todo-short-part-wrapper {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 3px;
  height: 33px;
  width: 50%;
  background: #ecbfb4; }

.vert-centered-outer {
  display: table;
  height: 100%; }

.vert-centered-inner {
  vertical-align: middle;
  display: table-cell; }

.todo-top-part-text {
  font-size: 25px; }

a {
  text-decoration: none; }

.adder-button-wrapper .vert-centered-outer {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white; }

.whole-content {
  width: 95vw;
  margin: 20px auto;
  max-width: 1200px; }

.top-short-changer {
  display: inline-block;
  background: orange; }

.top-short-deleter {
  background: red; }

.todo-short-top-main-icons {
  position: absolute;
  right: 10px; }

.todo-short-top-main-icons {
  position: relative; }

.rel-parent {
  position: relative; }

.todo-short-top-main-icons {
  position: absolute;
  right: 10px; }

.top-short-deleter, .top-short-changer {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer; }

.adder-button-wrapper {
  cursor: pointer; }
