#app {
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /*background: rgb(31, 1, 53);*/
  /*background: rgb(160,160,100);*/
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif, Avenir, Helvetica, Arial; }

#app, #app textarea {
  font-size: 16px; }

html {
  background: #063e29; }

#app textarea {
  font-family: Verdana, Geneva, sans-serif, Avenir, Helvetica, Arial;
  /*border: 0 none white;*/
  /*overflow: hidden;*/
  /*padding: 0;*/
  /*outline: none;*/
  background-color: #f9e7d4; }

html, body {
  height: 100%;
  margin: 0px; }

header {
  background: brown;
  background: #cc5e1b;
  width: 100%;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  box-sizing: border-box; }

.adder-button-wrapper {
  background: #ad3d12;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 10px;
  z-index: 10; }

.add-new-text-block {
  background: red;
  opacity: 0.5;
  position: absolute;
  z-index: 4; }
  @media screen and (max-width: 400px) {
    .add-new-text-block {
      height: 40px !important; } }
  @media screen and (min-width: 400px) and (max-width: 1200px) {
    .add-new-text-block {
      height: calc(10px + 7.5vw) !important; } }
  @media screen and (min-width: 1200px) {
    .add-new-text-block {
      height: 100px !important; } }
  @media screen and (max-width: 400px) {
    .add-new-text-block {
      margin-top: -40px !important; } }
  @media screen and (min-width: 400px) and (max-width: 1200px) {
    .add-new-text-block {
      margin-top: calc(-10px + -7.5vw) !important; } }
  @media screen and (min-width: 1200px) {
    .add-new-text-block {
      margin-top: -100px !important; } }
  @media screen and (max-width: 400px) {
    .add-new-text-block {
      width: 120px !important; } }
  @media screen and (min-width: 400px) and (max-width: 1200px) {
    .add-new-text-block {
      width: calc(30px + 22.5vw) !important; } }
  @media screen and (min-width: 1200px) {
    .add-new-text-block {
      width: 300px !important; } }

.add-new-includer {
  z-index: 5; }

.todo-short-wrapper {
  margin-top: 33px;
  padding: 13px;
  background: #f5cb69;
  border-radius: 2px; }

.todo-short-top-part {
  background: #fbb000;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: space-between; }

.todo-short-top-part:after {
  width: 100px;
  height: 100px;
  background: blue; }

.todo-full-part-wrapper, .todo-short-part-wrapper {
  display: flex;
  background: #ffdc8b;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px; }

.todo-full-part-wrapper {
  justify-content: space-between; }

.todo-bottom-left-part {
  width: 77%;
  margin-left: 10px; }
  @media screen and (max-width: 768px) {
    .todo-bottom-left-part {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .todo-bottom-left-part {
      margin-left: 2px; } }

.todo-short-part-wrapper {
  margin-left: 10px;
  width: 77%;
  background: #ffdc8b;
  overflow: hidden; }

.part-data-name-and-checkbox {
  display: flex;
  width: 100%; }

.vert-centered-outer {
  display: table;
  height: 100%; }

.vert-centered-inner {
  vertical-align: middle;
  display: table-cell; }

.todo-top-part-text {
  width: 100%; }

.name-changer-textarea-wrapper {
  width: 95%; }

@media screen and (max-width: 400px) {
  .name-changer-textarea-wrapper .changer-textarea, .todo-top-part-text {
    font-size: 18px !important; } }

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .name-changer-textarea-wrapper .changer-textarea, .todo-top-part-text {
    font-size: calc(14px + 1vw) !important; } }

@media screen and (min-width: 1200px) {
  .name-changer-textarea-wrapper .changer-textarea, .todo-top-part-text {
    font-size: 26px !important; } }

a {
  text-decoration: none; }

.adder-button-wrapper .vert-centered-outer {
  width: 100%; }

.whole-content {
  width: 94vw;
  margin: auto;
  max-width: 900px; }

.top-short-changer {
  display: inline-block;
  margin-right: 15px; }

.todo-short-top-main-icons {
  display: flex;
  align-items: baseline;
  margin-left: 20px; }

.part-data-name {
  max-height: 2.2rem;
  overflow: hidden; }

.part-data-name-and-expander {
  margin-left: 10px; }

.todo-short-top-main-icons, .todo-short-top-main-icons a {
  color: #211f1f; }

.rel-parent {
  position: relative; }

.top-short-deleter, .top-short-changer {
  display: inline-block;
  border-radius: 5px;
  cursor: pointer; }

.top-short-icon {
  width: 18px;
  height: 18px; }

.adder-button-wrapper {
  cursor: pointer; }

.changer-textarea {
  height: 90%;
  width: 100%; }

.text-or-textarea-part {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-left: 5px; }

.changer-textarea-wrapper, .simple-text {
  display: inline-block;
  width: 95%;
  height: 100%; }

.todo-item-text {
  width: 100%; }

.textarea {
  border: 0 none white !important; }

.todo-text-edit-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  margin-top: 5px; }

.text-editing-bottom-part {
  display: flex;
  margin-top: 5px; }

.cancel-item-editing {
  margin-left: 10px; }

.todo-text-edit-button {
  padding: 4px 10px;
  color: #ffe8dd;
  background: #ad3d12;
  cursor: pointer; }

.top-name-changer, .top-todolist-deleter {
  display: flex;
  text-decoration: underline;
  cursor: pointer; }
  .top-name-changer span, .top-todolist-deleter span {
    margin-left: 2px; }

.top-short-icon, .top-name-changer, .top-todolist-deleter {
  opacity: 0.7; }
  .top-short-icon:hover, .top-name-changer:hover, .top-todolist-deleter:hover {
    opacity: 1; }

.top-todolist-deleter {
  margin-top: 3px; }

.list-save-cancel-delete-buttons {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  max-width: 600px;
  justify-content: space-between; }
  .list-save-cancel-delete-buttons .default-button {
    padding: 6px 12px; }

.new-item-adder textarea {
  width: 50%; }

.new-item-adder .default-button {
  width: 100px; }

.default-button, .dg-btn {
  background: #ad3d12;
  color: #ffe8dd;
  cursor: pointer;
  user-select: none;
  text-align: center; }
  .default-button:hover, .dg-btn:hover {
    background: #7b2606; }

.dg-btn--ok {
  border-color: black; }

.dg-main-container {
  background: #ffb160; }

.blocked .text-save-button {
  background: #776861; }

.change-header {
  font-size: 23px;
  padding: 10px; }

.new-item-adder {
  margin-top: 20px; }
  .new-item-adder textarea {
    width: 80%; }
  .new-item-adder .default-button {
    margin-top: 3px;
    padding: 6px 12px; }

.new-items-adding-info {
  margin-top: 10px; }

.characters-left-message {
  margin-left: 20px; }

.undo-redo-buttons {
  position: sticky;
  top: 50px;
  align-self: flex-start;
  margin-left: 14px;
  margin-top: 14px; }
  .undo-redo-buttons .undo-button, .undo-redo-buttons .redo-button {
    margin-top: 4px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    opacity: 0.9; }
    .undo-redo-buttons .undo-button:hover, .undo-redo-buttons .redo-button:hover {
      opacity: 1; }
  .undo-redo-buttons .redo-button {
    margin-top: 50px; }
  .undo-redo-buttons .blocked {
    opacity: 0.2; }
    .undo-redo-buttons .blocked:hover {
      opacity: 0.2; }

.todo-change-page-bottom-part {
  display: flex; }

.undo-text-edition, .redo-text-edition {
  width: 20px;
  height: 20px;
  cursor: pointer; }
  .undo-text-edition.blocked, .redo-text-edition.blocked {
    opacity: 0.3; }

.redo-text-edition {
  margin-left: 20px;
  transform: scale(-1, 1); }

.dg-content {
  font-size: 23px;
  font-family: Helvetica, Arial, sans-serif; }
