@import 'scssHelpers.scss';

$mainButtonColor: #ad3d12;


#app {
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /*background: rgb(31, 1, 53);*/
  /*background: rgb(160,160,100);*/

  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif, Avenir, Helvetica, Arial;
  //font-size: 16px;
}

#app, #app textarea {
  font-size: 16px;
}

html {
  background: #fff0b7;
}
#app textarea {
  font-family: Verdana, Geneva, sans-serif, Avenir, Helvetica, Arial;
  /*border: 0 none white;*/
  /*overflow: hidden;*/
  /*padding: 0;*/
  /*outline: none;*/
  background-color: #f9e7d4;
}

html, body {
  height: 100%;
  margin: 0px;
}

header {
  background: brown;
  width: 100%;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}

.adder-button-wrapper {
  background: $mainButtonColor;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
  //@include makeParamGrowingFromMinTosMax(height, 40, 100);
  //@include makeParamGrowingFromMinTosMax(width, 120, 300);

  text-align: center;
  color: white;
  font-size: 20px;

  padding: 10px;

  z-index: 10;
}

.add-new-text-block {
  background: red;
  @include makeParamGrowingFromMinTosMax(height, 40, 100);
  @include makeParamGrowingFromMinTosMax(margin-top, -40, -100);
  @include makeParamGrowingFromMinTosMax(width, 120, 300);
  opacity: 0.5;
  position: absolute;
  z-index: 4;
  //display: none;

}

.add-new-includer {
  z-index: 5;
}

.todo-short-wrapper {
  margin-top: 20px;
  padding: 10px;
  background: #f5cb69;
  border-radius: 10px;
}

.todo-short-top-part {
  background:   #fbb000;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.todo-short-top-part:after {
  width: 100px;
  height: 100px;
  background: blue;
  //content: '';
}

.todo-full-part-wrapper, .todo-short-part-wrapper {
  display: flex;

  background: #ffdc8b;

  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}

.todo-full-part-wrapper {
  justify-content: space-between;
}

.todo-bottom-left-part {
  @include togglePropertyUnderAndAboveMediumScreen(width, 100%, 77%);
  @include togglePropertyUnderAndAboveMediumScreen(margin-left, 2px, 10px);
}

.todo-short-part-wrapper {

  margin-left: 10px;
  //height: 33px;
  width: 77%;
  background: #ffdc8b;
  overflow: hidden;
  //&:after {
  //  border-top: 40px solid white;
  //  border-left: 40px solid red;
  //  content: '';
  //  position: absolute;
  //  right: 0;
  //}
}

.part-data-name-and-checkbox {
  display: flex;
  width: 100%;
}

.vert-centered-outer {
  display: table;
  height: 100%;
}

.vert-centered-inner {
  vertical-align: middle;
  display: table-cell;
}

.change-wrapper {
  //color: white;
}

.todo-top-part-text {

  width: 100%;
}

.name-changer-textarea-wrapper {
  width: 95%;
}

.name-changer-textarea-wrapper .changer-textarea, .todo-top-part-text {
  @include makeParamGrowingFromMinTosMax(font-size, 18, 26, false, false, true) ;
}

a {  text-decoration: none;}

.adder-button-wrapper .vert-centered-outer{
  width: 100%;


}

.whole-content {
  width: 94vw;
  margin: auto;
  max-width: 900px;
  //background: rgba(255, 234, 116, 0.99);

}

.top-short-changer {
  display: inline-block;
  margin-right: 15px;
  //background: #ff7800;
  //@include makeParamGrowingFromMinTosMax(height, 25, 50);
}

.top-short-deleter {
  //background: red;

  //@include makeParamGrowingFromMinTosMax(height, 25, 50);
}

.todo-short-top-main-icons {
  display: flex;
  align-items: baseline;
  margin-left: 20px;

}

.part-data-name-and-checkbox {

}

.part-data-name {

  max-height: 2.2rem;
  overflow: hidden;
  //background: blue;
}

.part-data-name-and-expander {
  margin-left: 10px;
}

.part-data-checkbox {
  //width: 1.4em;
  //height: 1.4em;
}

.todo-short-top-main-icons, .todo-short-top-main-icons a {
  color: #211f1f;
}

.rel-parent {
  position: relative;
}


.top-short-deleter, .top-short-changer {
  display: inline-block;
//padding: 5px;
border-radius: 5px;
cursor: pointer;

}

.top-short-icon {
  width: 18px;
  height: 18px;
}

//@media screen and (max-width: 900px) {
//  .top-short-deleter-text, .top-short-changer-text {
//    display: none;
//  }
//  .top-short-icon {
//    display: block;
//  }
//}

.adder-button-wrapper {
  cursor: pointer;
}

.changer-textarea {
  height: 90%;
  width: 100%;
}

.text-or-textarea-part {
  display: inline-block;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

.changer-textarea-wrapper, .simple-text {
  display: inline-block;
  width: 95%;
  height: 100%;

}

.todo-item-text {
  width: 100%;
}

.simple-text {
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
  //display: block;
  //width: calc(100% - 250px);
}

.textarea {
  border: 0 none white !important;
}

.todo-text-edit-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  margin-top: 5px;

}

.text-editing-bottom-part {
  display: flex;
  margin-top: 5px;
}

.cancel-item-editing {
  margin-left: 10px;
}

.todo-text-edit-button {
  padding: 4px 10px;
  color: #ffe8dd;
  background: $mainButtonColor;
  cursor: pointer;
}

.top-name-changer, .top-todolist-deleter {
  display: flex;
  text-decoration: underline;
  cursor: pointer;

  span {
    margin-left: 2px;
  }
  //margin-left: 20px;
  //align-self: center;
}

.top-short-icon, .top-name-changer, .top-todolist-deleter {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.top-todolist-deleter {
  margin-top: 3px;
}

.list-save-cancel-delete-buttons {
  display: flex;
  width: 100%;
  //background: #fdc891;
  padding: 10px;
  margin-top: 50px;
  box-sizing: border-box;

  max-width: 600px;
  justify-content: space-between;
  .default-button {
    padding: 10px 20px;
  }
}

.new-item-adder {
  textarea {
    width: 50%;
  }
  .default-button {
    width: 100px;
  }
}

.default-button {
  background: $mainButtonColor;
  color: #ffe8dd;
  cursor: pointer;
  user-select: none;
  text-align: center;
  &:hover {
    background: #7b2606;
  }
}

.blocked {
  .text-save-button {
    background: #776861;
  }
}

.change-header {
  font-size: 23px;
  padding: 10px;
}

.new-item-adder {
  margin-top: 20px;
  textarea {
    width: 80%;
  }
  .default-button {
    margin-top: 3px;
    padding: 6px 12px;
  }
}

.new-items-adding-info {
  margin-top: 10px;
}

.characters-left-message {
  margin-left: 20px;
}

.undo-redo-buttons {
  position: sticky;
  $undoSquareSizePx: 50px;
  top: $undoSquareSizePx;
  align-self: flex-start;
  margin-left: 14px;
  margin-top: 14px;
  .undo-button, .redo-button {
    margin-top: 4px;
    width: $undoSquareSizePx;
    height: $undoSquareSizePx;
    line-height: $undoSquareSizePx;
    border-radius: $undoSquareSizePx;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  .redo-button {
    margin-top: $undoSquareSizePx;
  }
}



.todo-short-bottom-part {
  display: flex;
}